@import "./variables";

div#preload-monk{
    width: 200px;
    position:fixed;
    top:calc(50% - 90px);
    left:calc(50% - 100px);

    @include showStatus();

    div.monk{ 
        width: 80px;
        height: 112px;
        background-repeat: no-repeat;   
        background-image: url('../assets/images/monk.png');
        background-position: center center;
        background-size: 100%;
        margin:0 auto;
        animation: enter 250ms 0.5s forwards ease-in-out, 500ms flyingmonk 1s infinite alternate ease-in-out;
    }

    div.text-preload{
        width:100%;
        text-align: center;
        font-family:$klavika;
        margin-top:50px;
        font-size:15px;
        font-style: italic;
        animation: enter 0.5s forwards 1 ease-in-out;
        animation-delay: 0.5s;
        transform: scale(0);
    }

    @keyframes enter {
        0% { transform: scale(0) }
        50% { transform: scale(1.2) }
        100% { transform: scale(1) }
    }

    @keyframes flyingmonk {
        0% { transform: translateY(-10); }
        100% { transform: translateY(-20px); }
    }

    div#percentLoaded{
        font-family:$klavika;
        font-size:20px;
        position: fixed;
        bottom: 20px;
        right: 30px;
    }
}