@import "./variables";
@import "./preloader";

* {
    box-sizing: border-box;
}

body {
    color:#fff;
    background-color:$blackBackground;
    margin:0;
    padding:0;
}

a, a:visited{
    color:#fff;
}

 h1{
        position: absolute;
        top:20px;
        max-width: 390px;
        font-size:43px;
        margin:0;
        margin-left:30px;
        font-family: $klavikaLight;
        text-transform: uppercase;
        line-height: 1.2;
        text-decoration: underline;
        text-shadow: 0px 0px 14px rgba(0,0,0,0.5);
        z-index: 20;
        @include showStatus();

        &.left{
            margin:0;
            top:calc(50% - 30px);
            left:50px;
        }

        &.right{
            margin:0;
            top:calc(50% - 30px);
            right:50px;
            text-align:right;
        }
    }

div#wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
    @include showStatus();   

    div#logo-mediamonks{
        width:80px;
        height:80px;
        position:fixed;
        bottom:0px;
        right:20px;
        background-image: url('../assets/images/logo.svg');
        background-position: center;
        background-size: 100%;
        z-index: 20;
    }

    p#legend{
        position:absolute;
        left:30px;
        bottom:70px;
        color:#fff;
        font-size: 11px;
        font-family: $klavikaLight;
        @include showStatus();
        z-index: 20;
    }

    div.arrow{
        position: absolute;
        top:calc(50% - 30px);
        width: 30px;
        height: 60px;
        background-image: url('../assets/images/arrows.svg');
        background-position: 0px center;
        background-size: 60px;
        background-repeat: no-repeat;
        cursor:pointer;
        z-index: 20;
        @include showStatus();

        &.prev{
            left:10px;
        }

        &.next{
            right:10px;
            background-position: -32px center;
        }
    }

    ul#steps{
        position:absolute;
        left:0px;
        bottom:20px;
        border:2px dotted #fff;
        list-style-type: none;
        padding: 0;
        margin:0;
        display: flex;
        transform: scale(0.8);
        z-index: 20;

        li.step{
            width:25px;
            height: 18px;
            padding:3px;
            font-size:14px;
            border-left:2px dotted transparent;
            border-right:2px dotted #fff;
            font-family: $klavika;
            line-height: 0.9;
            text-align: center;
            position: relative;

            &:last-child{
                border:0;
                margin-right:0;
            }

            &.active{
               &:after{
                   content:'';
                   width:14px;
                   height: 10px;
                   background-color: #fff;
                   position: absolute;
                   top:4px;
                   left:2px;
               }
            }
        }
    }

    div#stepsLegend{
        position: absolute;
        left: 250px;
        bottom: 23px;
        font-family: $klavikaLight;
        font-size: 11px;
        z-index: 20;
        @include showStatus();
    }

    section{
      height: 100vh;

      &#background{
          width:100%;
          background-image: url('../assets/images/background.jpg');
          background-size: cover;
          background-position:0px 0px;
          transition: background-position 1s ease-in-out;
          background-repeat: no-repeat;
          position: fixed;
          top:0;
          left:0;
          z-index: 10;
      }

      &#contact{
          height: 99vh;
          transform: translateX(350px);
          transition: transform 1s ease-in-out;

          &.show{
            transform: translateX(0px);
          }

          h1{
              text-align: left;
              right:20px;
              z-index: 5;
          }

          p{
            font-family: $klavikaLight;
            font-size: 11px;
            width: 90%;
            float: right;
            text-align: right;
            padding-right:20px;
            padding-top:45vh;
          }

          div.social{
            width: 100%;
            text-align: right;
            padding-right:20px;

              a{
                font-family: $klavikaLight;
                font-size: 11px;
                text-decoration:none;
                position:relative;
                padding-left:20px;
                margin-left:10px;

                &:hover{
                    text-decoration:underline;
                }

                &:after{
                    content:'';
                    width: 20px;
                    height: 20px;
                    position:absolute;
                    top:-5px;
                    left:0;
                    background-image: url('../assets/images/social.jpg');
                    background-position: -3px center;
                    background-size: 60px;
                    background-repeat: no-repeat;
                }

                &.facebook:after{
                    background-position: -21px center;
                }

                &.twitter:after{
                    background-position: -40px center;
                }
              }
          }

          
      }
    }

}


