//colors
$blackBackground:#100e10;

//fonts
$klavika: 'klavika';
$klavikaBold: 'klavika-bold';
$klavikaLight: 'klavika-light';
$klavikaMedium: 'klavika-medium';

//mixins

@mixin showStatus(){
    transition: opacity 0.5s ease-in-out;
    opacity:1;

    &.hide{
        opacity:0;
    }

    &.show{
        opacity: 1;
    }
}


