@font-face {
  font-family: 'klavika-bold';
  src: url("../assets/font/klavika-bold-webfont.woff"); }

@font-face {
  font-family: 'klavika-light';
  src: url("../assets/font/klavika-light-webfont.woff"); }

@font-face {
  font-family: 'klavika-medium';
  src: url("../assets/font/klavika-medium-webfont.woff"); }

@font-face {
  font-family: 'klavika';
  src: url("../assets/font/klavika-regular-webfont.woff"); }
