@media screen and (max-width: 640px) {
  h1 {
    max-width: 65%;
    font-size: 30px; }
    h1.right, h1.left {
      top: calc(30% - 30px); }
  div#wrapper p#legend {
    width: 70%;
    bottom: 90px; }
  div#wrapper div#logo-mediamonks {
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: calc(100% - 87px); }
  div#wrapper ul#steps {
    bottom: 28px;
    left: 5px; }
  div#wrapper div#stepsLegend {
    left: 30px;
    bottom: 9px;
    font-size: 11px; }
  div#wrapper section#background {
    background-image: url("../assets/images/background-mobile.jpg"); }
    div#wrapper section#background:after {
      content: '';
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.31) 100%);
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.31) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.31) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4f000000',GradientType=0 ); } }
