div#preload-monk {
  width: 200px;
  position: fixed;
  top: calc(50% - 90px);
  left: calc(50% - 100px);
  transition: opacity 0.5s ease-in-out;
  opacity: 1; }
  div#preload-monk.hide {
    opacity: 0; }
  div#preload-monk.show {
    opacity: 1; }
  div#preload-monk div.monk {
    width: 80px;
    height: 112px;
    background-repeat: no-repeat;
    background-image: url("../assets/images/monk.png");
    background-position: center center;
    background-size: 100%;
    margin: 0 auto;
    animation: enter 250ms 0.5s forwards ease-in-out, 500ms flyingmonk 1s infinite alternate ease-in-out; }
  div#preload-monk div.text-preload {
    width: 100%;
    text-align: center;
    font-family: "klavika";
    margin-top: 50px;
    font-size: 15px;
    font-style: italic;
    animation: enter 0.5s forwards 1 ease-in-out;
    animation-delay: 0.5s;
    transform: scale(0); }

@keyframes enter {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@keyframes flyingmonk {
  0% {
    transform: translateY(-10); }
  100% {
    transform: translateY(-20px); } }
  div#preload-monk div#percentLoaded {
    font-family: "klavika";
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    right: 30px; }

* {
  box-sizing: border-box; }

body {
  color: #fff;
  background-color: #100e10;
  margin: 0;
  padding: 0; }

a, a:visited {
  color: #fff; }

h1 {
  position: absolute;
  top: 20px;
  max-width: 390px;
  font-size: 43px;
  margin: 0;
  margin-left: 30px;
  font-family: "klavika-light";
  text-transform: uppercase;
  line-height: 1.2;
  text-decoration: underline;
  text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: opacity 0.5s ease-in-out;
  opacity: 1; }
  h1.hide {
    opacity: 0; }
  h1.show {
    opacity: 1; }
  h1.left {
    margin: 0;
    top: calc(50% - 30px);
    left: 50px; }
  h1.right {
    margin: 0;
    top: calc(50% - 30px);
    right: 50px;
    text-align: right; }

div#wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  transition: opacity 0.5s ease-in-out;
  opacity: 1; }
  div#wrapper.hide {
    opacity: 0; }
  div#wrapper.show {
    opacity: 1; }
  div#wrapper div#logo-mediamonks {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 0px;
    right: 20px;
    background-image: url("../assets/images/logo.svg");
    background-position: center;
    background-size: 100%;
    z-index: 20; }
  div#wrapper p#legend {
    position: absolute;
    left: 30px;
    bottom: 70px;
    color: #fff;
    font-size: 11px;
    font-family: "klavika-light";
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    z-index: 20; }
    div#wrapper p#legend.hide {
      opacity: 0; }
    div#wrapper p#legend.show {
      opacity: 1; }
  div#wrapper div.arrow {
    position: absolute;
    top: calc(50% - 30px);
    width: 30px;
    height: 60px;
    background-image: url("../assets/images/arrows.svg");
    background-position: 0px center;
    background-size: 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 20;
    transition: opacity 0.5s ease-in-out;
    opacity: 1; }
    div#wrapper div.arrow.hide {
      opacity: 0; }
    div#wrapper div.arrow.show {
      opacity: 1; }
    div#wrapper div.arrow.prev {
      left: 10px; }
    div#wrapper div.arrow.next {
      right: 10px;
      background-position: -32px center; }
  div#wrapper ul#steps {
    position: absolute;
    left: 0px;
    bottom: 20px;
    border: 2px dotted #fff;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    transform: scale(0.8);
    z-index: 20; }
    div#wrapper ul#steps li.step {
      width: 25px;
      height: 18px;
      padding: 3px;
      font-size: 14px;
      border-left: 2px dotted transparent;
      border-right: 2px dotted #fff;
      font-family: "klavika";
      line-height: 0.9;
      text-align: center;
      position: relative; }
      div#wrapper ul#steps li.step:last-child {
        border: 0;
        margin-right: 0; }
      div#wrapper ul#steps li.step.active:after {
        content: '';
        width: 14px;
        height: 10px;
        background-color: #fff;
        position: absolute;
        top: 4px;
        left: 2px; }
  div#wrapper div#stepsLegend {
    position: absolute;
    left: 250px;
    bottom: 23px;
    font-family: "klavika-light";
    font-size: 11px;
    z-index: 20;
    transition: opacity 0.5s ease-in-out;
    opacity: 1; }
    div#wrapper div#stepsLegend.hide {
      opacity: 0; }
    div#wrapper div#stepsLegend.show {
      opacity: 1; }
  div#wrapper section {
    height: 100vh; }
    div#wrapper section#background {
      width: 100%;
      background-image: url("../assets/images/background.jpg");
      background-size: cover;
      background-position: 0px 0px;
      transition: background-position 1s ease-in-out;
      background-repeat: no-repeat;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10; }
    div#wrapper section#contact {
      height: 99vh;
      transform: translateX(350px);
      transition: transform 1s ease-in-out; }
      div#wrapper section#contact.show {
        transform: translateX(0px); }
      div#wrapper section#contact h1 {
        text-align: left;
        right: 20px;
        z-index: 5; }
      div#wrapper section#contact p {
        font-family: "klavika-light";
        font-size: 11px;
        width: 90%;
        float: right;
        text-align: right;
        padding-right: 20px;
        padding-top: 45vh; }
      div#wrapper section#contact div.social {
        width: 100%;
        text-align: right;
        padding-right: 20px; }
        div#wrapper section#contact div.social a {
          font-family: "klavika-light";
          font-size: 11px;
          text-decoration: none;
          position: relative;
          padding-left: 20px;
          margin-left: 10px; }
          div#wrapper section#contact div.social a:hover {
            text-decoration: underline; }
          div#wrapper section#contact div.social a:after {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: -5px;
            left: 0;
            background-image: url("../assets/images/social.jpg");
            background-position: -3px center;
            background-size: 60px;
            background-repeat: no-repeat; }
          div#wrapper section#contact div.social a.facebook:after {
            background-position: -21px center; }
          div#wrapper section#contact div.social a.twitter:after {
            background-position: -40px center; }
